.CustomTableContainer {
  position: relative;
}

.CustomTableButton {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -1px);
}

.CustomTableWrapper {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.CustomTableCaption {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  
  font-weight: bold;
}

.CustomTableCaptionIcon {
  margin-right: 6px;
}

.CustomTable {
  width: 100%;
  border-collapse: collapse;

  border-radius: 5px;
}

.CustomTable td:first-child {
  font-weight: normal;
  text-align: left;
}

.CustomTable td {
  padding: 10px;

  font-weight: bold;
  text-align: center;
}

.CustomTable tr:nth-child(odd) {
  background-color: #fbfbfb;
}

.CustomTable tr {
  border-bottom: 1px solid #f1f1f1;
}

.CustomTable tbody tr:last-child {
  border-bottom: none;
}

.CustomTable thead th {
  padding: 10px 0;

  font-size: 14px;
  font-weight: normal;

  background-color: #ecf0f3;
  border-bottom: 1px solid #d8d9da;
}

.CustomTable thead th:first-child {
  border-radius: 5px 0 0 0;
}

.CustomTable thead th:last-child {
  border-radius: 0 5px 0 0;
}

.CustomTable th:first-child,
.CustomTable td:first-child {
  width: 55%;
}