.PeopleTableWrapper {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.PeopleTableCaption {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  
  font-weight: bold;
}

.PeopleTableCaptionIcon {
  margin-right: 6px;
}

.PeopleTable {
  width: 100%;
  border-collapse: collapse;

  border-radius: 5px;
}

.PeopleTableStat {
  font-weight: bold;
  text-align: center;
}

.PeopleTable td {
  padding: 10px;
}

.PeopleTable tr:nth-child(odd) {
  background-color: #fbfbfb;
}

.PeopleTable tr {
  border-bottom: 1px solid #f1f1f1;
}

.PeopleTable tbody tr:last-child {
  border-bottom: none;
}

.PeopleTable thead th {
  padding: 10px 0;

  font-size: 14px;
  font-weight: normal;

  background-color: #ecf0f3;
  border-bottom: 1px solid #d8d9da;
}

.PeopleTable thead th:first-child {
  border-radius: 5px 0 0 0;
}

.PeopleTable thead th:last-child {
  border-radius: 0 5px 0 0;
}

.PeopleTable th:first-child,
.PeopleTable td:first-child {
  width: 55%;
}